html {
    height: 100%;
    color: #fff;
    font-size: 14px;
    background-image: url('../../public/images/shanqiu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
